
 <nav>
<a href="/images/new">POST NEW PAGES</a>
<a href="/issue">ISSUES</a>
<a href="/about">ABOUT</a>
<a href="/">HOME</a>
</nav>

<h1>details for <%= image['name'] %></h1>
<p>posted by <%= user['email'] %></p>

<form action="/images/<%= image['id'] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>delete</button>
</form>



<img src="<%= image["image_url"] %>">
<a class= "edit" href="/images/<%= image['id'] %>/edit">edit</a>
<p>
<%= image["description"] %>
</p>